body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(0 0 0 / 0.75) !important;
}

.slick-slider {
  width: 100%;
}
.slick-slider .slick-dots {
  display: none !important;
}
.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
.slick-slider .slick-next {
  transform: scale(1.5);
  /* right: -40px; */
  right: -24px;
}
.slick-slider .slick-prev {
  transform: scale(1.5);
}
.slick-slider .slick-prev {
  transform: scale(1.5);
  left: -24px;
}
.slick-prev,
.slick-next {
  top: 40% !important;
}
.slick-slide {
  outline: none;
}

.react-confirm-alert-overlay {
  z-index: 1304 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiTypography-root.MuiTypography-body1.MuiTypography-colorTextSecondary {
  color: #fff !important;
}

#map {
  height: 100%;
  margin: 0;
}
#map .centerMarker {
  position: absolute;
  /*url of the marker*/
  background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top: 50%;
  left: 50%;
  z-index: 1;
  /*fix offset when needed*/
  margin-left: -10px;
  margin-top: -34px;
  /*size of the image*/
  height: 34px;
  width: 20px;
  cursor: pointer;
}
