body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.slick-slider {
  width: 100%;
}
.slick-slider .slick-dots {
  display: none !important;
}
.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
.slick-slider .slick-next {
  transform: scale(1.5);
  /* right: -40px; */
  right: -24px;
}
.slick-slider .slick-prev {
  transform: scale(1.5);
}
.slick-slider .slick-prev {
  transform: scale(1.5);
  left: -24px;
}
.slick-prev,
.slick-next {
  top: 40% !important;
}
.slick-slide {
  outline: none;
}

.react-confirm-alert-overlay {
  z-index: 1304 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
