body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.slick-slider {
  width: 100%;
  outline: none;
}
/* @media only screen and (min-width: 425px) {
  .slick-slider .slick-dots {
    display: none !important;
  }
} */
.slick-slide > div {
  margin: 0 5px;
  outline: none;
}
.slick-list {
  margin: 0 -10px;
}

.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
.slick-slider .slick-next {
  transform: scale(1.5);
  /* right: -40px; */
  right: -24px;
}
.slick-slider .slick-prev {
  transform: scale(1.5);
}
.slick-slider .slick-prev {
  transform: scale(1.5);
  left: -24px;
}
.slick-prev,
.slick-next {
  top: 40% !important;
}
.slick-slide {
  outline: none;
}

.slick-dots li.slick-active button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1 !important;
}

.slick-dots li button:focus:before {
  opacity: 0.25 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-confirm-alert-overlay {
  z-index: 1304 !important;
}
.MuiInputAdornment-positionStart p {
  color: #fff;
  font-size: 35px;
}
.PrivateNotchedOutline-root-47.MuiOutlinedInput-notchedOutline {
  border-color: rgb(255 255 255) !important;
}
.MuiInputBase-formControl {
  border: none;
  outline: none;
}
